<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
               Mr. Kang Li is now a PhD candidate in civil engineering at the School of Civil Engineering at  <a href="https://www.tongji.edu.cn/">Tongji University</a> . His main research interests are GPR detection for backfill grouting of sheild tunnels, intelligent analysis of GPR data and grouting quality evaluation.

            </p>
            <p class="paragraph-text justify-text">
                In July 2018, he graduated from  <a href="https://www.ustb.edu.cn/">University of Science and Technology Beijing (USTB)</a>  with a Bachelor's degree in Mineral Resources Engineering (Excellence Program) as his undergraduate degree, and he was guaranteed to study for a Master's degree at USTB with the first overall score in his major and enrolled in the Master's degree in September of the same year. In June 2020, he applied for early defense of his master's degree and received his master's degree in Mining Engineering from University of Science and Technology Beijing.
            <p class="paragraph-text justify-text">
                From July to October 2020, he served as a Senior Investment Development Specialist for the Subei Region at Country Garden Group.
            <p class="paragraph-text justify-text">
                In September 2021, he entered Tongji University to pursue a doctoral degree, which he expects to obtain in June 2025.
            </p>
        </div>
    </section>
</div>
