<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Publications</div>
            
                <div class="project-technologies">

                    <a id="journal" class="semi-transparent-button with-border white-button" onclick="selected('journal')">Journal Papers</a>
                    <a id="conference" class="semi-transparent-button with-border white-button" onclick="selected('conference')">Conference Paper</a>
                    <a id="speech" class="semi-transparent-button with-border white-button" onclick="selected('speech')">Oral/Poster Speech</a>
                    <a id="patents" class="semi-transparent-button with-border white-button" onclick="selected('patents')">Patents</a>
                    <a id="software" class="semi-transparent-button with-border white-button" onclick="selected('software')">Software Copyrights</a>
                    <a id="all" class="semi-transparent-button with-border white-button" onclick="selected('all')">All</a>

                </div>

            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>
